@*@model List<Corporate.EntityLayer.Concrete.TourDetail>*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tatiller</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/tourlist.css">

</head>
<body>
    <!--Navbar başlıkları ve linkleri-->

    <!--Banner fotoğraf uzantısı-->
    <section class="header-section">
        <div class="header-image-container">
            <img src="~/image/Travel Explore the World (Banner (Landscape)) (1).png" alt="Banner Image">
        </div>

        <div class="content">
            <!--Banner içindeki Link ve başlıklar-->
            <h1>TOURS</h1>
            <h4><a href="home.html">Home</a> > <a href="tours.html">Tours</a></h4>
        </div>
    </section>


    <section class="products-section">

        <div class="row">


            @foreach (var item in Model)
            {
                <!--Fotoğrafın ön yüzündeki Şehir ismi-->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="cover item-a" style="background-image: url(../../wwwroot/Image/@item.TourImageFileName);">
                            <h1>@item.TourName</h1>
                            <!--Fotoğrafın arka yüzündeki link ve yazı-->
                            <div class="card-back">
                                <a href="/Detail/Index/@item.TourDetailID">View detail</a>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </section>


    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>


</body>
</html>