@model Corporate.PresentationLayer.Models.ContactViewModel;

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Touristt</title>
    <link href="~/css/contact.css" rel="stylesheet" />
</head>
<body>

    <div id="navbar">
        <a href="home.html" id="logo">
            <!--logonun bağlantı yolu src kısmına eklenmeli-->
            <img id="logo-image" src="~/image/@Model.HeaderImage.Logo" alt="logo" style="height: 70px;">
        </a>
        <!--navbardaki bağlantılar href kısmına eklenmeli-->
        <div id="navbar-right">
            <a href="/Home/Index">Home</a>
            <a href="/Aboutt/Index">About</a>
            <a href="/Tours/Index1">Tours</a>
            <a class="active" href="/İletisim/Index">Contact</a>
        </div>
    </div>

    <section class="header-section">
        <div class="header-image-container">
            <img src="~/image/@Model.HeaderImage.HeaderImage" alt="Header Image" /><!--Sayfa üstü büyük görsel için resim yolu src kısmına yazılır-->
        </div>

        <div class="content">
            <h1>Contact</h1>
            <h4><a href="home.html">Home</a> > <a href="contact.html">Contact</a></h4><!--Sayfanın yolu için bağlantı eklenir-->
        </div>
    </section>



    <div class="middle">

        <section class="contact-form-section">
            <!--iletişim formu-->
            <form action="#">
                <div class="form-row">
                    <div class="input-data">
                        <input type="text" required>
                        <div class="underline"></div>
                        <label for="">First Name</label>
                    </div>
                    <div class="input-data">
                        <input type="text" required>
                        <div class="underline"></div>

                        <label for="">Last Name</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="input-data">
                        <input type="text" required>
                        <div class="underline"></div>
                        <label for="">Email Address</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="input-data textarea">
                        <textarea rows="8" cols="80" required></textarea>
                        <br />
                        <div class="underline"></div>
                        <label for="">Write your message</label>
                        <br>
                        <div class="submit-btn">
                            <div>
                                <div class="inner"></div>
                                <button class="button-86" role="button">Send</button>
                            </div>
                        </div>
                        <br><br>
                    </div>
                </div>
            </form>
        </section>

        <section class="contact-info-section">
            <h1><strong>Bizimle</strong></h1>
            <h1><strong>İletisime geçin!</strong></h1>
            <br><br>
            <div data-aos="fade-down-right" class="aos-init aos-animate">
                <p>Seyahatlerinizle ilgili herhangi bir sorunuz, öneriniz veya yardım ihtiyacınız mı var? Bizimle iletişime geçmekten çekinmeyin! Turistt Ekibi, sizlere en iyi hizmeti sunmak için burada.</p>
            </div>
            <br><br>
            <div data-aos="fade-down-right" class="aos-init aos-animate">
                <h4 style="display: flex;gap: 10px;">
                    <img src="https://icons.iconarchive.com/icons/icons8/windows-8/128/Mobile-Phone-icon.png" width="24" height="24">
                    @if (Model.Contact != null)
                    {
                        <a href="tel:05055555555">@Model.Contact.Phone</a>
                    }
                    else
                    {
                        <span>Contact information not available</span>
                    }
                </h4><!--telefon numarası yazılmalı-->
            </div><br>
            <div data-aos="fade-down-right" class="aos-init aos-animate">
                <h4 style="display: flex; gap: 10px;">
                    <img src="https://icons.iconarchive.com/icons/ionic/ionicons/24/mail-icon.png" width="24" height="24">
                    @if (Model.Contact != null && !string.IsNullOrEmpty(Model.Contact.Email))
                    {
                        <a href="mailto:@Model.Contact.Email">@Model.Contact.Email</a>
                    }
                    else
                    {
                        <span>Email address not available</span>
                    }
                </h4>
            </div>
        </section>


        <section class="map-section">
            <div class="map-container">
                @if (!string.IsNullOrEmpty(Model.Contact?.Map))
                {
                    <iframe src="@Model.Contact.Map" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                }
                else
                {
                    <p>Map not available</p>
                }
            </div>
        </section>


    </div>


    <footer class="footer">
        <div class="container footer-row">
            <!--footer başlıklar-->
            <div class="footer-col">
                <h4>About us</h4>
            </div>
            <div class="footer-col">
                <h4>Tours</h4>
            </div>
            <div class="footer-col">
                <h4>Contact</h4>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <!--footer sosyal medya bağlantıları-->
                <div class="social-links">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <script>
        /*-----------------------------------------------------------*/
        //navbar efekt js başlangıcı
        // Scroll 80 px aşağıya indirildiğinde navbar boyutlandırılır
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                document.getElementById("navbar").style.padding = "0px 10px";
                document.getElementById("logo").style.fontSize = "25px";
                document.getElementById("logo-image").style.height = "70px";
                document.getElementById("navbar").style.backgroundColor = "#212121";
            } else {
                document.getElementById("navbar").style.padding = "40px 50px";
                document.getElementById("logo").style.fontSize = "35px";
                document.getElementById("navbar").style.backgroundColor = "transparent";
                document.getElementById("navbar").style.opacity = "0.5";
                document.getElementById("logo-image").style.height = "100px";
            }
        }
        //navbar efekt js sonu
        /*-----------------------------------------------------------*/
        //Animate On Scroll kütüphanesini kullanabilir hale getirme
        AOS.init();
          /*-----------------------------------------------------------*/

    </script>


    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</body>
</html>