@model Promote.website.Models.ContactViewModel;
@{
    Layout = "_PageLayout";
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Touristt</title>
    <link href="~/css/contact.css" rel="stylesheet" />
</head>
<body>

<section class="banner-section">
    <div class="banner-image-container">
            <img src="~/Image/@Model.Contact.ImageHeader" alt="Banner Image">
    </div>
    
    <div class="content">
        <h1>Contact</h1>
        <h4><a href="home.html">Home</a> > <a href="contact.html">Contact</a></h4>
    </div>
</section>



<div class="middle">
    <section class="contact-form-section">
        <form action="#">
            <div class="form-row">
               <div class="input-data">
                  <input type="text" required>
                  <div class="underline"></div>
                  <label for="">First Name</label>
               </div>
               <div class="input-data">
                  <input type="text" required>
                  <div class="underline"></div>
                  <label for="">Last Name</label>
               </div>
            </div>
            <div class="form-row">
               <div class="input-data">
                  <input type="text" required>
                  <div class="underline"></div>
                  <label for="">Email Address</label>
               </div>
            </div>
            <div class="form-row">
            <div class="input-data textarea">
               <textarea rows="8" cols="80" required></textarea>
               <br />
               <div class="underline"></div>
               <label for="">Write your message</label>
               <br>
               <div class="submit-btn">
                  <div>
                     <div class="inner"></div>
                     <button class="button-86" role="button">Send</button>
                  </div>
               </div>
               <br><br>
            </div> 
            <!--buton css !-->
  
         </form>
      
    </section>
    
    <section class="contact-info-section">
         
            <h1><strong>Bizimle</strong></h1>
       
         
         <h1><strong>İletisime geçin!</strong></h1> 
        
        <br><br>
        <div data-aos="fade-down-right"><p>Seyahatlerinizle ilgili herhangi bir sorunuz, öneriniz veya yardım ihtiyacınız mı var? Bizimle iletişime geçmekten çekinmeyin! Turistt Ekibi, sizlere en iyi hizmeti sunmak için burada.</p>
        </div>
        <br><br>
        <div data-aos="fade-down-right"><h4 style="display: flex;gap: 10px;"><img src="https://icons.iconarchive.com/icons/icons8/windows-8/128/Mobile-Phone-icon.png" width="24" height="24"></i> <a href="tel:05055555555">0505 555 55 55</a></h4>
        </div><br>
        <div data-aos="fade-down-right"><h4 style="display: flex;gap: 10px;"><img src="https://icons.iconarchive.com/icons/ionic/ionicons/24/mail-icon.png" width="24" height="24"> <a href="mailto:touristt@tour.com">touristt@tour.com</a></h4>
        </div>
        
        
        
    </section>

     
    <section class="map-section">
        <div class="map-container">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2992.8983463587024!2d39.174488875926585!3d38.68195877177091!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4076c0392d27f05b%3A0x4518a6344d591f49!2sF%C4%B1rat%20Teknokent!5e1!3m2!1str!2str"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </section>
   
 
</div>


  
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  
  <script>
    AOS.init();
    </script>
</body>
</html>