@model Promote.website.Models.HomePage
@{
    Layout = "_PageLayout";
}

@section Styles {
    <link href="~/css/homee.css" rel="stylesheet" />
    }

<section class="showcase">
    <div class="video-container">
        @if (!string.IsNullOrEmpty(Model.VideoFileName))
        {
            <video src="~/Media/@Model.VideoFileName" autoplay muted loop></video>
        }
        else
        {
            <!-- Varsayılan görüntüyü kullanabilirsiniz -->
            <video src="~/DefaultMedia/Red Vintage Typography Valentine Music Release Announcement Video.mp4" autoplay muted loop></video>
        }

    </div>
    <div class="content">
    </div>
</section>


@if (Model.IsTaglineSectionIncluded == true)
{
    Html.RenderPartial("_HomeTaglinePartial");
}

@if (Model.IsPopularProductsSectionIncluded == true)
{
    Html.RenderPartial("_HomePopularProductsPartial");
}

@if (Model.IsServicesSectionIncluded == true)
{
    Html.RenderPartial("_HomeServicesPartial");
}

@if (Model.IsStatisticsSectionIncluded == true)
{
    Html.RenderPartial("_HomeStatisticsPartial");
}



