@model Promote.website.Models.HomePage
@{
    Layout = "_PageLayout";
}

@section Styles {
    <link href="~/css/home.css" rel="stylesheet" />
    }

<section class="showcase">
    <div class="video-container">
        @if (!string.IsNullOrEmpty(Model.VideoFileName))
        {
            <video src="~/Media/@Model.VideoFileName" autoplay muted loop></video>
        }
        else
        {
            <!-- Varsayılan görüntüyü kullanabilirsiniz -->
            <video src="~/DefaultMedia/Red Vintage Typography Valentine Music Release Announcement Video.mp4" autoplay muted loop></video>
        }

    </div>
    <div class="content">
    </div>
</section>




@if (Model.IsTaglineSectionIncluded == true)
{
    Html.RenderPartial("_HomeTaglinePartial");
}

@if (Model.IsPopularProductsSectionIncluded == true)
{
    Html.RenderPartial("_HomePopularProductsPartial");
}

@if (Model.IsServicesSectionIncluded == true)
{
    Html.RenderPartial("_HomeServicesPartial");
}

@if (Model.IsStatisticsSectionIncluded == true)
{
    Html.RenderPartial("_HomeStatisticsPartial");
}



    <div class="overlay"></div>

    <!-- Floating Textbox -->
    <div class="floating-textbox" id="floating-textbox">
        <span class="close-btn" onclick="closeFloatingTextbox()"><strong>x</strong></span>

        <h3>Bilgilendirilmek istiyor musunuz ?</h3>
        <br />
        <form action="/Home/Index" method="post">
            <input type="text" class="text-input" placeholder="Mail Adress" name="EmailAdress" />
            <!-- Buton textbox içinde -->
            <button type="submit" class="submit-btn" role="button">Send</button>
        </form>
    </div>

    <script>
            function submitForm() {
                // Form gönderimini işle
                alert("Form gönderildi!");
            }

        function closeFloatingTextbox() {
            document.getElementById('floating-textbox').style.display = 'none';
        }
    </script>
