@model Promote.website.Models.AboutPage

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>AboutPage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImageHeader" class="control-label"></label>
                <input asp-for="ImageHeader" class="form-control" />
                <span asp-validation-for="ImageHeader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageBottom" class="control-label"></label>
                <input asp-for="ImageBottom" class="form-control" />
                <span asp-validation-for="ImageBottom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageTop" class="control-label"></label>
                <input asp-for="ImageTop" class="form-control" />
                <span asp-validation-for="ImageTop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyDescription" class="control-label"></label>
                <input asp-for="CompanyDescription" class="form-control" />
                <span asp-validation-for="CompanyDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MissionTitle" class="control-label"></label>
                <input asp-for="MissionTitle" class="form-control" />
                <span asp-validation-for="MissionTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MissionDescription" class="control-label"></label>
                <input asp-for="MissionDescription" class="form-control" />
                <span asp-validation-for="MissionDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MissionBgColor" class="control-label"></label>
                <input asp-for="MissionBgColor" class="form-control" />
                <span asp-validation-for="MissionBgColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisionTitle" class="control-label"></label>
                <input asp-for="VisionTitle" class="form-control" />
                <span asp-validation-for="VisionTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisionDescription" class="control-label"></label>
                <input asp-for="VisionDescription" class="form-control" />
                <span asp-validation-for="VisionDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisionBgColor" class="control-label"></label>
                <input asp-for="VisionBgColor" class="form-control" />
                <span asp-validation-for="VisionBgColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhyUsSectionTitle" class="control-label"></label>
                <input asp-for="WhyUsSectionTitle" class="form-control" />
                <span asp-validation-for="WhyUsSectionTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhyUsSectionBgColor" class="control-label"></label>
                <input asp-for="WhyUsSectionBgColor" class="form-control" />
                <span asp-validation-for="WhyUsSectionBgColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhyUs1Title" class="control-label"></label>
                <input asp-for="WhyUs1Title" class="form-control" />
                <span asp-validation-for="WhyUs1Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhyUs1Description" class="control-label"></label>
                <input asp-for="WhyUs1Description" class="form-control" />
                <span asp-validation-for="WhyUs1Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhyUs1BgColor" class="control-label"></label>
                <input asp-for="WhyUs1BgColor" class="form-control" />
                <span asp-validation-for="WhyUs1BgColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhyUs2Title" class="control-label"></label>
                <input asp-for="WhyUs2Title" class="form-control" />
                <span asp-validation-for="WhyUs2Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhyUs2Description" class="control-label"></label>
                <input asp-for="WhyUs2Description" class="form-control" />
                <span asp-validation-for="WhyUs2Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhyUs2BgColor" class="control-label"></label>
                <input asp-for="WhyUs2BgColor" class="form-control" />
                <span asp-validation-for="WhyUs2BgColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhyUs3Title" class="control-label"></label>
                <input asp-for="WhyUs3Title" class="form-control" />
                <span asp-validation-for="WhyUs3Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhyUs3Description" class="control-label"></label>
                <input asp-for="WhyUs3Description" class="form-control" />
                <span asp-validation-for="WhyUs3Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhyUs3BgColor" class="control-label"></label>
                <input asp-for="WhyUs3BgColor" class="form-control" />
                <span asp-validation-for="WhyUs3BgColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
