@model Promote.website.Models.Layout

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@if (TempData["Message"] != null)
{
    <div id="dismissable-alert" class="alert @(TempData["AlertClass"] ?? "") alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <script>
        $(document).ready(function () {
            window.setTimeout(function () {
                $("#dismissable-alert").alert('close');
            }, 5000); // 5000 milisaniye (5 saniye) sonra alert'ı otomatik olarak kapat
        });
    </script>
}
<h1>Create</h1>

<h4>Layout</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LogoPath" class="control-label"></label>
                <input asp-for="LogoPath" name="LogoPath" type="file" class="form-control" />
                <span asp-validation-for="LogoPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FooterColor" class="control-label"></label>
                <input asp-for="FooterColor" class="form-control" type="color" />
                <span asp-validation-for="FooterColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HighlightColor" class="control-label"></label>
                <input asp-for="HighlightColor" class="form-control" type="color" />
                <span asp-validation-for="HighlightColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialMedia1Link" class="control-label"></label>
                <p><small style="color: #888; font-size: 14px;">Eğer link kısmına sadece '.' karakterini koyarsanız bu sosyal medya kısmı boş kabul edilerek ön tarafta gösterilmez.</small> </p>
                <input asp-for="SocialMedia1Link" class="form-control" />
                <span asp-validation-for="SocialMedia1Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialMedia1Icon" class="control-label"></label>
                <input asp-for="SocialMedia1Icon" name="SocialMedia1Icon" type="file" class="form-control" />
                <span asp-validation-for="SocialMedia1Icon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialMedia2Link" class="control-label"></label>
                <p><small style="color: #888; font-size: 14px;">Eğer link kısmına sadece '.' karakterini koyarsanız bu sosyal medya kısmı boş kabul edilerek ön tarafta gösterilmez.</small> </p>
                <input asp-for="SocialMedia2Link" class="form-control" />
                <span asp-validation-for="SocialMedia2Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialMedia2Icon" class="control-label"></label>
                <input asp-for="SocialMedia2Icon" name="SocialMedia2Icon" type="file" class="form-control" />
                <span asp-validation-for="SocialMedia2Icon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialMedia3Link" class="control-label"></label>
                <p><small style="color: #888; font-size: 14px;">Eğer link kısmına sadece '.' karakterini koyarsanız bu sosyal medya kısmı boş kabul edilerek ön tarafta gösterilmez.</small> </p>
                <input asp-for="SocialMedia3Link" class="form-control" />
                <span asp-validation-for="SocialMedia3Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialMedia3Icon" class="control-label"></label>
                <input asp-for="SocialMedia3Icon" name="SocialMedia3Icon" type="file" class="form-control" />
                <span asp-validation-for="SocialMedia3Icon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialMedia4Link" class="control-label"></label>
                <p><small style="color: #888; font-size: 14px;">Eğer link kısmına sadece '.' karakterini koyarsanız bu sosyal medya kısmı boş kabul edilerek ön tarafta gösterilmez.</small> </p>
                <input asp-for="SocialMedia4Link" class="form-control" />
                <span asp-validation-for="SocialMedia4Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialMedia4Icon" class="control-label"></label>
                <input asp-for="SocialMedia4Icon" name="SocialMedia4Icon" type="file" class="form-control" />
                <span asp-validation-for="SocialMedia4Icon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialMedia5Link" class="control-label"></label>
                <p><small style="color: #888; font-size: 14px;">Eğer link kısmına sadece '.' karakterini koyarsanız bu sosyal medya kısmı boş kabul edilerek ön tarafta gösterilmez.</small> </p>
                <input asp-for="SocialMedia5Link" class="form-control" />
                <span asp-validation-for="SocialMedia5Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialMedia5Icon" class="control-label"></label>
                <input asp-for="SocialMedia5Icon" name="SocialMedia5Icon" type="file" class="form-control" />
                <span asp-validation-for="SocialMedia5Icon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
