<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/AdminLayout/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/AdminLayout/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/AdminLayout/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/AdminLayout/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/favicon.png" />

    @RenderSection("Scripts", required: false)


</head>
<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
                <a class="sidebar-brand brand-logo" href="~/AdminLayout/corona-free-dark-bootstrap-admin-template-1.0.0/template/index.html"><img src="~/AdminLayout/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/logo.svg" alt="logo" /></a>
                <a class="sidebar-brand brand-logo-mini" href="../../index.html"><img src="~/AdminLayout/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <ul class="nav">
                <li class="nav-item profile">
                    <div class="profile-desc">
                    </div>
                </li>
                <li class="nav-item nav-category">
                    <span class="nav-link">Pages</span>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="/AboutPages/Router">
                        <span class="menu-icon">
                            <i class="mdi mdi-alert-circle-outline"></i>
                        </span>
                        <span class="menu-title">About Page</span>
                    </a>
                </li>

                <li class="nav-item menu-items">
                    <a class="nav-link" href="/ContactPages/Router">
                        <span class="menu-icon">
                            <i class="mdi mdi-account-multiple"></i>
                        </span>
                        <span class="menu-title">Contact Page</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="/HomePages/Router">
                        <span class="menu-icon">
                            <i class="mdi mdi-home"></i>
                        </span>
                        <span class="menu-title">Home Page</span>
                    </a>
                </li>

                <li class="nav-item menu-items">
                    <a class="nav-link" href="/ProductDetailPages/Router">
                        <span class="menu-icon">
                            <i class="mdi mdi-account-card-details"></i>
                        </span>
                        <span class="menu-title">Product Detail Page</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="/ProductListPages/Router">
                        <span class="menu-icon">
                            <i class="mdi mdi-format-list-bulleted"></i>
                        </span>
                        <span class="menu-title">Product List Page</span>
                    </a>
                </li>
                <li class="nav-item nav-category">
                    <span class="nav-link">Datas</span>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="/ContactForms/Index">
                        <span class="menu-icon">
                            <i class="mdi mdi-contact-mail"></i>
                        </span>
                        <span class="menu-title">Contact Forms</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="/Products/Index">
                        <span class="menu-icon">
                            <i class="mdi mdi-content-duplicate"></i>
                        </span>
                        <span class="menu-title">Products</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="/Sublinks/Index">
                        <span class="menu-icon">
                            <i class="mdi mdi-link"></i>
                        </span>
                        <span class="menu-title">Sublinks</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="/Layouts/Router">
                        <span class="menu-icon">
                            <i class="mdi mdi-layers"></i>
                        </span>
                        <span class="menu-title">Layout</span>
                    </a>
                </li>
            
            </ul>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_navbar.html -->
            <nav class="navbar p-0 fixed-top d-flex flex-row">
                <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="~/AdminLayout/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/logo-mini.svg" alt="logo" /></a>
                </div>
                <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="mdi mdi-menu"></span>
                    </button>
                    <ul class="navbar-nav w-100">
                        <li class="nav-item w-100">
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item dropdown d-none d-lg-block">
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="createbuttonDropdown">
                            </div>
                        </li>
                        <li class="nav-item nav-settings d-none d-lg-block">

                        </li>
                        <li class="nav-item dropdown border-left">

                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                            </div>
                        </li>
                        <li class="nav-item dropdown border-left">

                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                                <div class="navbar-profile">
                                    <p class="mb-0 d-none d-sm-block navbar-profile-name">Profile</p>
                                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">


                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item" href="/Login/Logout">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-logout text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">Logout</p>
                                    </div>
                                </a>

                            </div>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="mdi mdi-format-line-spacing"></span>
                    </button>
                </div>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/AdminLayout/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/AdminLayout/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/js/off-canvas.js"></script>
    <script src="~/AdminLayout/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/js/hoverable-collapse.js"></script>
    <script src="~/AdminLayout/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/js/misc.js"></script>
    <script src="~/AdminLayout/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/js/settings.js"></script>
    <script src="~/AdminLayout/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
</body>
</html>