
<section class="short-about" style="background-color: @Model.TaglineSectionBgColor">
    <div data-aos="fade-right" style="font-size: xxx-large;">
        @Model.Tagline
    </div>
    <div class="content">
    </div>
</section>