@model Promote.website.Models.ContactPage

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>ContactPage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ContactPageId" />
            <div class="form-group">
                <label asp-for="ImageHeader" class="control-label"></label>
                <input asp-for="ImageHeader" name="headerImage" class="form-control" type="file" />
                <span asp-validation-for="ImageHeader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactInfoTitle" class="control-label"></label>
                <input asp-for="ContactInfoTitle" class="form-control" />
                <span asp-validation-for="ContactInfoTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactInfoDescription" class="control-label"></label>
                <input asp-for="ContactInfoDescription" class="form-control" />
                <span asp-validation-for="ContactInfoDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MapIframeUrl" class="control-label"></label>
                <input asp-for="MapIframeUrl" class="form-control" />
                <span asp-validation-for="MapIframeUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
